@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply dark:bg-black;
  }

  .pb-full {
    padding-bottom: 100%;
  }

  /* hide search icon on search focus */
  .search-bar:focus + .fa-search {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .post:hover .overlay {
      display: block;
    }
  }

  .navBtn {
    @apply hidden h-6 w-6 cursor-pointer text-gray-900 transition-all duration-150 ease-out hover:scale-125 dark:text-white md:inline-flex;
  }

  .mobileNavBtn {
    @apply h-6 w-6 cursor-pointer text-gray-900 transition-all duration-150 ease-out hover:scale-125 dark:text-white md:inline-flex;
  }

  .postBtn {
    @apply h-6 w-6 cursor-pointer transition-all duration-150 ease-out hover:scale-125 dark:text-white;
  }
}

.nextimg {
  width: 100%;
  height: auto;
}

.instagram-logo {
  background-position: 0 -130px;
  height: 51px;
  width: 175px;
  background-image: url(https://bit.ly/3v2LT17);
}
